name: 'Close by inactivity'
on:
  schedule:
    - cron: "00 00 * * *"
  workflow_dispatch:

jobs:
  close-issues:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
      - uses: actions/stale@v9.0.0
        with:
          days-before-issue-stale: 30
          days-before-issue-close: 14
          stale-issue-label: "stale"
          stale-issue-message: "This issue is marked as stale because there was no activity for 30 days."
          close-issue-message: "This issue has been closed because there has been no activity for 14 days while it was marked as stale."